  <h2></h2>
  {{#if posts}}
  {{#each posts}}
  <div class="post-container">
    <div class="post-header">{{this.dataValues.title}} <span>Created on {{this.dataValues.date_created}}</span></div>
    <div class="post-body">{{this.dataValues.content}}</div>
  </div>
  {{/each}}
  {{else}}
  <p class="has-text-centered">No blog posts found.</p>
  {{/if}}